[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-5.2.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/common.cfg

versions = versions
package-name = spirit.plone.theming
package-extras = [test]
eggs +=

test-eggs +=
    Pillow
robot_tests_folder = ${buildout:directory}/src/spirit/plone/theming/tests/robot

parts +=
    createcoverage
    i18ndude
    node
    omelette
    pybot
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    robot
    sphinxbuilder
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout =


[code-analysis]
directory = ${buildout:directory}/src/spirit


[sources]


[versions]
spirit.plone.theming =
setuptools =
zc.buildout =
