[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/common.cfg

versions = versions
package-name = spirit.plone.theming
package-extras = [test]
test-eggs = Pillow

parts +=
    node
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout =


[code-analysis]
clean-lines = True
csslint = True
csslint-bin = ${buildout:bin-directory}/csslint
deprecated-aliases = True
directory = ${buildout:directory}/src/spirit/plone/theming
find-untranslated = False
flake8-extensions =
    flake8-blind-except
    flake8-coding
    flake8-debugger
    flake8-deprecated
    flake8-pep3101
    flake8-plone-api
    flake8-plone-hasattr
    flake8-print
    flake8-quotes
    flake8-string-format
    flake8-todo
flake8-ignore = E501
flake8-max-complexity = 12
jshint = True
jshint-bin = ${buildout:bin-directory}/jshint
pep3101 = True
pre-commit-hook = False
zptlint = True
zptlint-bin = ${buildout:bin-directory}/zptlint


[sources]


[versions-4.1.x]
# Ecosystem (not officially part of core)
collective.z3cform.datagridfield = 0.11
collective.z3cform.datagridfield-demo = 0.5
five.grok = 1.2.0
five.intid = 1.0.3
grokcore.annotation = 1.1
grokcore.component = 1.9
grokcore.formlib = 1.4
grokcore.security = 1.2
grokcore.site = 1.1
grokcore.view = 1.13.5
grokcore.viewlet = 1.3
martian = 0.11.3
mocker = 1.1.1
plone.alterego = 1.0
plone.app.dexterity = 1.2.2
plone.app.intid = 1.0.2
plone.app.lockingbehavior = 1.0.1
plone.app.referenceablebehavior = 0.3
plone.app.relationfield = 1.1
plone.app.stagingbehavior = 0.1b3
plone.app.textfield = 1.1
plone.app.versioningbehavior = 1.1
plone.behavior = 1.0.2
plone.dexterity = 1.1.2
plone.directives.dexterity = 1.0.2
plone.directives.form = 1.0
plone.formwidget.autocomplete = 1.2.5
plone.formwidget.contenttree = 1.0.6
plone.formwidget.namedfile = 1.0.13
plone.mocktestcase = 1.0b3
plone.namedfile = 1.0.6
plone.schemaeditor = 1.2.1
plone.synchronize = 1.0.1
rwproperty = 1.0
uuid = 1.30
z3c.blobfile = 0.1.5
z3c.formwidget.query = 0.8
z3c.objpath = 1.0
z3c.relationfield = 0.6.2
zc.relation = 1.0

Pillow = 3.4.2
check-manifest = 0.25
collective.themesitesetup = 1.3.2
docutils = 0.11
flake8-quotes = 0.1.2
plone.api =
plone.app.testing = 4.2.2
plone.app.theming = 1.0.4
plone.formwidget.namedfile = 1.0.15
# Newer versions require check-manifest, which does not run on python2.6
plone.recipe.codeanalysis = 2.0a2
setuptools =
zc.buildout = 2.5.0


[versions-4.2.x]
# 4.2.7 is currently not available as UnifiedInstaller.
Plone = 4.2.6
collective.themesitesetup = 1.3.2
flake8-quotes = 0.1.2
plone.api =
plone.formwidget.namedfile = 1.0.15
setuptools =


[versions-4.3.x]
plone.api =
setuptools =


[versions-5.0.x]
setuptools =


[versions-5.1.x]
setuptools =
