[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/it-spirit/buildout.plone/master/common.cfg

versions = versions
package-name = spirit.plone.theming
package-extras = [test]
test-eggs = Pillow

parts +=
    createcoverage
    node
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout =


[code-analysis]
directory = ${buildout:directory}/src/spirit


[sources]


[versions-4.2.x]
# 4.2.7 is currently not available as UnifiedInstaller.
Plone = 4.2.6
collective.themesitesetup = 1.3.2
coverage = 3.7
plone.api =
plone.formwidget.namedfile = 1.0.15
setuptools =


[versions-4.3.x]
plone.api =
setuptools =


[versions-5.0.x]
setuptools =


[versions-5.1.x]
setuptools =
